---

import pro1 from '@/assets/img/project/pro1.png';
import pro2 from '@/assets/img/project/pro2.png';
import pro3 from '@/assets/img/project/pro3.png';
import { Image } from 'astro:assets';
// const featuredServices=["web development","Graphic Designing","AI Development","SEO","Email Marketing"];
---

<!-- Start of Project section
	============================================= -->
	<section id="ori-project-1" class="ori-project-section-1 position-relative">
		<div class="container">
			<div class="ori-project-content-1 position-relative">
				<div class="row">
					<div class="col-lg-4">
						<div class="ori-project-tab-btn-content">
							<div class="ori-section-title-1 text-uppercase wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
								<h2>Featured <span> Services</span></h2>
							</div>
							<div class="ori-project-tab-btn ul-li-block text-uppercase wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
								<ul class="nav nav-pills" id="pills-tab" role="tablist">
									
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">web development</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Graphic Designing</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">AI Development</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="interior-tab" data-bs-toggle="pill" data-bs-target="#interior" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">SEO</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="construction-tab" data-bs-toggle="pill" data-bs-target="#construction" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Email Marketing</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="ori-project-tab-content wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro3} alt=""></Image>
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro2} alt=""></Image>
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="interior" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="construction" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={pro3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Portrait Man Digital Art</a></h3>
											<span class="text-uppercase project-category"><a href="#">Baskcate Ball Art</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="portfolio-single.html"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ori-btn-1 position-absolute text-uppercase wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
					<a href="/portfolio">Visit our all work</a>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>		
<!-- End of Project section
	============================================= -->
