---
import web1 from '@/assets/img/service/web1.jpg';
import web2 from '@/assets/img/service/web2.jpg';
import web3 from '@/assets/img/service/web3.jpg';
import graphic1 from '@/assets/img/service/graphic1.jpeg';
import graphic2 from '@/assets/img/service/graphic2.png';
import graphic3 from '@/assets/img/service/graphic3.jpg';
import ai1 from '@/assets/img/service/ai1.png';
import ai2 from '@/assets/img/service/ai2.png';
import ai3 from '@/assets/img/service/ai3.webp';
import seo1 from '@/assets/img/service/seo1.png';
import seo2 from '@/assets/img/service/seo2.webp';
import seo3 from '@/assets/img/service/seo3.jpg';
import email1 from '@/assets/img/service/email1.jpg';
import email2 from '@/assets/img/service/email2.webp';
import email3 from '@/assets/img/service/email3.jpg';
import { Image } from 'astro:assets';
// const featuredServices=["web development","Graphic Designing","AI Development","SEO","Email Marketing"];
---

<!-- Start of Project section
	============================================= -->
	<section id="ori-project-1" class="ori-project-section-1 position-relative">
		<div class="container">
			<div class="ori-project-content-1 position-relative">
				<div class="row">
					<div class="col-lg-4">
						<div class="ori-project-tab-btn-content">
							<div class="ori-section-title-1 text-uppercase wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
								<h2>Featured <span> Services</span></h2>
							</div>
							<div class="ori-project-tab-btn ul-li-block text-uppercase wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
								<ul class="nav nav-pills" id="pills-tab" role="tablist">
									
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">web development</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Graphic Designing</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">AI Development</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="interior-tab" data-bs-toggle="pill" data-bs-target="#interior" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">SEO</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="construction-tab" data-bs-toggle="pill" data-bs-target="#construction" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Email Marketing</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="ori-project-tab-content wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={web1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Frontend Development</a></h3>
											<span class="text-uppercase project-category"><a href="#">HTML, CSS, JavaScript, React, Astro</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/web-development"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={web2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Backend Development</a></h3>
											<span class="text-uppercase project-category"><a href="#">Node.js, Express, Databases,CMS (MongoDB, Supabase)</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/web-development"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={web3} alt=""></Image>
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Performance Optimization</a></h3>
											<span class="text-uppercase project-category"><a href="#">Speed, caching, and scalability</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/web-development"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={graphic1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Branding & Identity</a></h3>
											<span class="text-uppercase project-category"><a href="#"> Logo design, brand guidelines, and visual storytelling</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/graphic-designing"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={graphic2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Typography & Layout</a></h3>
											<span class="text-uppercase project-category"><a href="#"> Choosing fonts, spacing, and grid systems</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/graphic-designing"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={graphic3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Color Theory</a></h3>
											<span class="text-uppercase project-category"><a href="#">Creating visually appealing color palettes</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/graphic-designing"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={ai1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Machine Learning & Deep Learning</a></h3>
											<span class="text-uppercase project-category"><a href="#">Training models for predictions</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/ai-development"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={ai2} alt=""></Image>
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Natural Language Processing (NLP)</a></h3>
											<span class="text-uppercase project-category"><a href="#"> AI for text, chatbots, and language understanding</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/ai-development"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={ai3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">AutoML & No-Code AI</a></h3>
											<span class="text-uppercase project-category"><a href="#"> Simplifying AI model creation</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/ai-development"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="interior" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={seo1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">On-Page SEO</a></h3>
											<span class="text-uppercase project-category"><a href="#">Contact us for more Intel</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/seo"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={seo2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Off-Page SEO</a></h3>
											<span class="text-uppercase project-category"><a href="#">Contact us for more Intel</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/seo"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={seo3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Technical SEO </a></h3>
											<span class="text-uppercase project-category"><a href="#">Contact us for more Intel</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/seo"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="construction" role="tabpanel" aria-labelledby="pills-home-tab">
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={email1} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">A/B Testing & Optimization</a></h3>
											<span class="text-uppercase project-category"><a href="#">Refining subject lines, content, and CTAs</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/email-marketing"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={email2} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Cold Email Outreach</a></h3>
											<span class="text-uppercase project-category"><a href="#">Reaching potential clients with high-converting emails</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/email-marketing"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
									<div class="ori-project-item-1 position-relative">
										<div class="ori-project-img">
											<Image src={email3} alt="">
										</div>
										<div class="ori-project-text position-absolute">
											<h3><a href="portfolio-single.html">Personalized Email Campaigns</a></h3>
											<span class="text-uppercase project-category"><a href="#">Sending targeted emails based on user behavior</a></span>
										</div>
										<div class="ori-project-link position-absolute">
											<a href="/services/email-marketing"><i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ori-btn-1 position-absolute text-uppercase wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
					<a href="/portfolio">Visit our all work</a>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>		
<!-- End of Project section
	============================================= -->
