---
import { Image } from "astro:assets";
import first from "@/assets/img/blog/blg1.png"
import second from "@/assets/img/blog/blg2.png"
import third from "@/assets/img/blog/blg3.png"
import { client } from "@/lib/sanity";
const fetchData = async () => {
    const query = `*[_type == "post"]{
  title, 
  slug, 
  body, 
  "mainImage": mainImage.asset->url, 
  publishedAt, 
  Excerpt, 
  categories[]->{title}, 
  author->{name}
}`;
    return await client.fetch(query);
};

const posts = await fetchData();

---

<!-- Start of Blog section
	============================================= -->
	<section id="ori-blog-1" class="ori-blog-section-1 position-relative">
		<div class="container">
			<div class="ori-blog-top-content-1 d-flex justify-content-between align-items-center">
				<div class="ori-section-title-1 text-uppercase wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
					<h2>latest <span>posts</span></h2>
				</div>
				<div class="ori-btn-1 text-uppercase wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
					<a href="/blogs">See all blogs</a>
				</div>
			</div>
			<div class="ori-blog-content-1">
				<div class="row">
					{
						posts.slice(0,3).map((post:any) => (
							<div class="col-lg-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
								<div class="ori-blog-inner-item">
									<div class="blog-inner-img">
										<Image src={post.mainImage} alt="" inferSize={true} />
									</div>
									<div class="blog-inner-text">
										<h3><a href="blog-single.html">{post.title}</a></h3>
										<a class="read-more text-uppercase" href={`/blogs/${post.slug.current}`}>Read more <i class="fal fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
						))
					}
					
					<!-- <div class="col-lg-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
						<div class="ori-blog-inner-item">
							<div class="blog-inner-img">
								<Image src={first} alt="">
							</div>
							<div class="blog-inner-text">
								<h3><a href="blog-single.html">Accelerating UX Maturity With A Breakthrough Project</a></h3>
								<a class="read-more text-uppercase" href="blog-single.html">Read more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="ori-blog-inner-item">
							<div class="blog-inner-img">
								<Image src={second} alt="">
							</div>
							<div class="blog-inner-text">
								<h3><a href="blog-single.html">Jump Into July (2022 Desktop Wallpapers Edition)</a></h3>
								<a class="read-more text-uppercase" href="blog-single.html">Read more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
						<div class="ori-blog-inner-item">
							<div class="blog-inner-img">
								<Image src={third} alt="">
							</div>
							<div class="blog-inner-text">
								<h3><a href="blog-single.html">How To Build A Localized Website With Hugo And Strapi</a></h3>
								<a class="read-more text-uppercase" href="blog-single.html">Read more <i class="fal fa-chevron-right"></i></a>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>	
<!-- End of Blog section
	============================================= -->