---
import logo from "@/assets/img/logo/logo.png"
import {services} from '@/config/services.json';
import { Image, Picture } from "astro:assets"
---
<!-- Start of header section
	============================================= -->
	<header id="ori-header" class="ori-header-section header-style-one">
		<div class="ori-header-content-area">
			<div class="ori-header-content d-flex align-items-center justify-content-between">
				<div class="brand-logo">
					<a href="/"><Image src={logo} alt="logo"></a>
					<!-- <a href="/"><Picture src={logo} alt="logo"></a> -->
				</div>
				<div class="ori-main-navigation-area">
					<nav class="ori-main-navigation clearfix ul-li">
						<ul id="main-nav" class="nav navbar-nav clearfix">
							<li>
								<a href="/">Home</a>
							</li>
							<li class="dropdown">
								<a href="/services">Services</a>
								<ul class="dropdown-menu clearfix">
									{
										services.map((service,index) => (
											<li><a href={`/services/${service.slug}`}> {service.title}</a></li>
										))
									}
								</ul>
							</li>
							<li><a  href="/about">About Us</a></li>
							<li><a  href="/portfolio">Portfolio</a></li>
							<li><a  href="/blogs">Blog</a></li>
							<li><a  href="/contact">Contact</a></li>
							
							<!-- <li class="dropdown">
								<a href="%21.html#">Pages</a>
								<ul class="dropdown-menu clearfix">
									<li><a target="_blank" href="service.html">Services</a></li>
									<li class="dropdown">
										<a href="service-single.html">Services Details</a>
										<ul class="dropdown-menu clearfix">
											<li><a target="_blank" href="service-single.html">Web Development</a></li>
											<li><a target="_blank" href="service-single.html">UI/UX Design</a></li>
											<li><a target="_blank" href="service-single.html">Digital Marketing</a></li>
											<li><a target="_blank" href="service-single.html">Product Design</a></li>
											<li><a target="_blank" href="service-single.html">Mobile Solutions</a></li>
											<li><a target="_blank" href="service-single.html">App Development</a></li>
											<li><a target="_blank" href="service-single.html">Email Marketing</a></li>
										</ul>
									</li>
									<li><a target="_blank" href="team.html">Team Page</a></li>
									<li><a target="_blank" href="team-single.html">Team Details</a></li>
									<li><a target="_blank" href="faq.html">FAQ Page</a></li>
									<li><a target="_blank"  href="pricing.html">Pricing Page</a></li>
									<li><a target="_blank" href="contact.html">Contact Page</a></li>
									<li><a target="_blank" href="mission.html">Mission Page</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="" href="%21.html#">News</a>
								<ul class="dropdown-menu clearfix">
									<li><a target="_blank" href="blog.html">News </a></li>
									<li><a target="_blank" href="blog-single.html">News Details</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="%21.html#">Portfolio</a>
								<ul class="dropdown-menu clearfix">
									<li><a target="_blank" href="portfolio.html">Portfolio </a></li>
									<li><a target="_blank" href="portfolio-single.html">Portfolio Details</a></li>
								</ul>
							</li> -->
						</ul>
					</nav>
				</div>
				<div class="ori-header-sidebar-search d-flex align-items-center">
					<div class="ori-search-btn">
						<button class="search-box-outer"><i class="fal fa-search"></i></button>
					</div>
					<div class="ori-sidenav-btn navSidebar-button">
						<button><i class="fal fa-bars"></i></button>
					</div>
				</div>
			</div>
			<div class="mobile_menu position-relative">
				<div class="mobile_menu_button open_mobile_menu">
					<i class="fal fa-bars"></i>
				</div>
				<div class="mobile_menu_wrap">
					<div class="mobile_menu_overlay open_mobile_menu"></div>
					<div class="mobile_menu_content">
						<div class="mobile_menu_close open_mobile_menu">
							<i class="fal fa-times"></i>
						</div>
						<div class="m-brand-logo">
							<a  href="/"><Image src={logo} alt="logo"></a>
						</div>
						<nav class="mobile-main-navigation  clearfix ul-li">
							<ul id="m-main-nav" class="nav navbar-nav clearfix">
								<li>
									<a href="/">Home</a>
								</li>
								<li class="dropdown">
									<a href="/services">Services</a>
									<ul class="dropdown-menu clearfix">
										{
											services.map((service,index) => (
												<li><a href={`/services/${service.slug}`}> {service.title}</a></li>
											))
										}
									</ul>
								</li>
								<li><a  href="/about">About Us</a></li>
								<li><a  href="/portfolio">Portfolio</a></li>
								<li><a  href="/blogs">Blog</a></li>
								<li><a  href="/contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- /Mobile-Menu -->
			</div>
		</div>
	</header><!-- /header -->

	<!-- Search PopUp -->
	<div class="search-popup">
		<button class="close-search style-two"><span class="fal fa-times"></span></button>
		<button class="close-search"><span class="fa fa-arrow-up"></span></button>
		<form method="post" action="https://html.themexriver.com/Orixy/blog.html">
			<div class="form-group">
				<input type="search" name="search-field" value="" placeholder="Search Here" required="">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
		</form>
	</div>
	<!-- Sidebar sidebar Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black">
			<div class="row loader-area">
				<div class="col-3 preloader-wrap">
					<div class="loader-bg"></div>
				</div>
				<div class="col-3 preloader-wrap">
					<div class="loader-bg"></div>
				</div>
				<div class="col-3 preloader-wrap">
					<div class="loader-bg"></div>
				</div>
				<div class="col-3 preloader-wrap">
					<div class="loader-bg"></div>
				</div>
			</div>
		</div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">

					<div class="sidebar-info-contents headline pera-content">
						<div class="content-inner">
							<div class="logo">
								<a href="index-1.html"><Image src={logo} alt="logo"></Image></a>
							</div>
							<div class="content-box">
								<h5>About Us</h5>
								<p class="text">At Devliqly, we specialize in delivering high-quality digital solutions, including web development, AI innovation, graphic design, and SEO. Our goal is to help businesses establish a strong online presence with cutting-edge technology and creative strategies. Let’s build something exceptional together!</p>
							</div>
							<div class="content-box">
								<h5>Social Account</h5>
								<ul class="social-box">
									<li><a href="https://www.facebook.com/" target="_blank"  class="fab fa-facebook-f"></a></li>
									<li><a href="https://www.twitter.com/"  target="_blank" class="fab fa-twitter"></a></li>
									<li><a href="https://dribbble.com/" target="_blank"  class="fab fa-dribbble"></a></li>
									<li><a href="https://www.linkedin.com/"  target="_blank" class="fab fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End of header section
	============================================= -->
