---
import { Image } from "astro:assets";
import sp1 from "@/assets/img/sponsor/sp1.png"
import sp2 from "@/assets/img/sponsor/sp2.png"
import sp3 from "@/assets/img/sponsor/sp3.png"
import sp4 from "@/assets/img/sponsor/sp4.png"
import sp5 from "@/assets/img/sponsor/sp5.png"
---

<!-- Start of Sponsor section
	============================================= -->
	<section id="ori-sponsor-1" class="ori-sponsor-section-1 position-relative">
		<div class="container">
			<div class="ori-sponsor-title text-uppercase text-center">
				<h3><i></i> <span>Trusted by</span> <i></i> </h3>
			</div>
			<div class="ori-sponsor-content">
				<div class="ori-sponsor-slider">
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp1} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp2} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp3} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp4} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp5} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp1} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp2} alt="">
							</a>
						</div>
					</div>
					<div class="ori-sponsor-item">
						<div class="ori-sponsor-img">
							<a href="#">
								<Image src={sp3} alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line_animation">
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
			<div class="line_area"></div>
		</div>
	</section>				
<!-- End of Sponsor section
	============================================= -->
	<style>
		.ori-sponsor-section-1{
			padding-bottom: 60px;
		}
	</style>